/* INPUTS FOR QUERYING IMAGES DATA */
#content-inputs {
    padding: 0 1rem;
    max-width: 550px;
    margin: 2rem auto 4rem;
    display: grid;
    row-gap: 1rem;
    align-items: center;
}

#content-inputs__name__header {
    text-align: center;
    margin: 0;
}

#content-inputs__rover__select {
    width: 100%;
    font-family: inherit;
    padding: 0.2rem;
}

#content-inputs__rover-info {
    padding: 0 0.5rem;
}

#content-inputs__rover-info p{
    margin: 0;
    font-size: 0.9rem;
}

.no-rover-selected-err {
    text-align: center;
    color: #ee6a6a;
}

#mission-status {
    font-weight: bold;
}

/* Conditional styling depending on mission status */
.active {
    color: #7CFC00
}

.complete {
    color: #ee6a6a
}

#content-inputs__solarday__header {
    text-align: center;
    margin: 0;
}


#content-inputs__solar-day-input {
    width: 100%;
    font-family: inherit;
    padding: 0.2rem;
    display: grid;
    row-gap: 1rem;
}

#content-inputs__solar-day-desc {
    padding: 0 0.5rem;
}

#content-inputs__solar-day-desc p {
    margin: 0;
    font-size: 0.9rem;
}

/* INVAlID SOLAR DAY INPUT */
#failureDiv {
    margin-top: 1rem;
    font-style: italic;
    text-align: center;
    font-size: 0.9rem;
    color:white;
    border: 1px solid #ee6a6a;
    background-color: #ec5656;
    border-radius: 10px;
    padding: 0.5rem 0.3rem;
}

.hide-err {
    display:none
}

#content-inputs__cam-select__header h3{
    text-align: center;
    margin-bottom: 0;
    margin: 0;
}

#content-inputs__cam-select__header p {
    margin: 0;
    font-size: 0.8rem;
    font-style: italic;
    color: gray;
    text-align: center;
}

#content-inputs__cam-select__input {
    width: 100%;
    font-family: inherit;
    padding: 0.2rem;
}

/* IMAGE GALLERY */
#photo-gallery-section {
    margin-top: 2rem;
}
#photo-gallery {
    margin-top: 1rem;
    padding: 0 0.8rem;
    max-width: 1024px;
    margin: 0 auto;
}
.photo-gallery__item {
    margin: 0 auto;
    width: 100%;
    padding: 0.2rem;
    margin-bottom: 0.4rem;
    position: relative;
}

.photo-gallery__item__anchor-tag img {
    width: 100%;
    border-radius: 8px;
}

.span__rover {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 0.8rem;
}

.span__earth-date {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 0.8rem;
}

.span__camera {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    font-size: 0.8rem;
}

.span__image-id {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 0.8rem;
}

/* PAGINATION */
.pagination-container {
    display: flex;
    justify-content: center;
}

.pagination__items {
    background-color: rgb(239, 224, 181);
    list-style: none;
    padding: 0;
    display: flex;
    border-radius: 5px;
}

.pagination__item {
    border: 1px solid rgb(177, 177, 177);
    padding: 0.3rem;
    cursor: pointer;
}

.pagination__item:hover {
    font-weight: bold;
}

.pagination__item:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination__item:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pagination__item a {
    border: none;
    text-decoration: none;
    color: black;
}

.pagination__item:has(.current-page) {
    font-weight: bold;
    background-color: rgb(249, 211, 107);
}

@media (min-width :480px) {
    #content-inputs {
        grid-template-columns: 1fr 3fr;
    }
    #content-inputs__rover-info, 
    #content-inputs__solar-day-input,
    #content-inputs__solar-day-desc,
    #content-inputs__cam-select__header,
    #content-inputs__cam-select__div {
        grid-column: span 2;
    }

    #content-inputs__solar-day-input {
        /* display: grid; */
        grid-template-columns: 1.2fr 3fr;
    }
}

@media (min-width : 768px) {
   #photo-gallery {
    display: flex;
    flex-wrap: wrap;
   }

   .photo-gallery__item {
    width: 50%;
   }
}

@media (min-width : 1024px) {
    .photo-gallery__item {
        width: 33%;
    }
}