.image-section {
    background: url('../../public/assets/A_Picture_Postcard_from_Curiositys.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 10%;
    margin-top: 3.5rem;
    width: 100%;
    height: 10rem;
}

.spirit-desc {
    /* margin-top: 5rem; */
}

