* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.main-header {
    display: inline-block;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0.4rem;
}

/* Styling brand image */
.main-header__brand {
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    vertical-align: middle;
}

.main-header__brand img {
    width: 100%;
}

/* Styling mobile nav */
.mobile-nav {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    width: calc(100% - 4rem);
}

.toggle-button {
    border: none;
    width: 3.2rem;
    cursor: pointer;
}

.bar {
    width: 100%;
    height: 0.3rem;
    margin: 0.4rem 0;
    background-color: black;
    display: block;
}

/* Styling desktop nav*/
.main-nav {
    display: none;
    text-align: right;
    width: calc(100% - 4rem);
}

.main-nav__items {
    list-style: none;
    margin: 0;
}

.main-nav__item {
    display: inline-block;
    margin: 0.2rem;
}

.main-nav__item a {
    text-decoration: none;
    color: black;
}

@media (min-width : 400px) {
    .mobile-nav {
        display: none;
    }
    .main-nav {
        display: inline-block;
    }
}
