/* GENERAL SETUP */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* HEADER GENERAL STYLING */
.main-header {
    display: inline-block;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0.4rem;
    background-color: white;
}

.main-header__brand {
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    vertical-align: middle;
}

.main-header__brand img {
    width: 100%;
}

/* MOBILE NAV STYLE */
.mobile-nav {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    width: calc(100% - 4rem);
}

.toggle-button {
    border: none;
    width: 3.2rem;
    cursor: pointer;
    background-color: transparent;
}

.bar {
    width: 100%;
    height: 0.25rem;
    margin: 0.4rem 0;
    background-color: black;
    display: block;
}

.mobile-nav__items {
    display: none;
    position: absolute;
    z-index: 1;
    top: 3.2rem;
    right: 0;
    width: 5rem;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    background-color: rgb(250, 246, 246);
    border-radius: 5%;
}

.unfold {
    display: block;
}

.mobile-nav__item {
    margin: 0.2rem;
    border-bottom: 1px solid rgb(189, 185, 185);
    border-radius: 5%;
}

.mobile-nav__item:last-of-type {
    border-bottom: none;
}

.mobile-nav__item:hover,
.mobile-nav__item:active{
    font-weight: bold;
}

.mobile-nav__item a {
    text-decoration: none;
    color: black;
}

/* DESKTOP NAV STYLE*/
.main-nav {
    display: none;
    text-align: right;
    width: calc(100% - 4rem);
}

.main-nav__items {
    list-style: none;
    margin: 0;
}

.main-nav__item {
    display: inline-block;
    margin: 0.2rem;
}

.main-nav__item a {
    text-decoration: none;
    color: black;
}

/* IMAGE FOLLOWING NAVBAR */
.image-section {
    background: url('../../public/assets/A_Picture_Postcard_from_Curiositys.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: 0% 0%; */
    margin-top: 3.5rem;
    width: 100%;
    height: 11rem;
}



@media (min-width : 400px) {
    .mobile-nav {
        display: none;
    }
    .main-nav {
        display: inline-block;
    }
}
