@import './partials/variables';

#content-inputs {
  display: grid;
  row-gap: 1rem;
  align-items: center;
  max-width: 550px;
  width: 95%;
  margin: 2rem auto;
  padding: 1rem;
  border: $border-default;
  border-radius: 10px;
  box-shadow: 5px 5px 8px gray;
  background-color: map-get($colors, light-yellow);
}

#content-inputs__name__header {
  text-align: center;
  margin: 0;
}

#content-inputs__rover__select {
  width: 100%;
  font-family: inherit;
  padding: $padding-input-input;
}

#content-inputs__rover-info {
  padding: $padding-input-desc;

  p {
    margin: 0;
    font-size: $font-size-standard;
  }
}

.no-rover-selected-err {
  text-align: center;
  color: map-get($colors, light-red);
}

#mission-status {
  font-weight: bold;
}

/* Conditional styling depending on mission status */
.active {
  color: map-get($colors, dark-green);
}

.complete {
  color: map-get($colors, light-red);
}

#content-inputs__solarday__header {
  text-align: center;
  margin: 0;
  width: 100%;
}

#content-inputs__solar-day-input {
  display: grid;
  row-gap: 1rem;
}

#content-inputs__solarday__input {
  font-family: inherit;
  padding: $padding-input-input;
}

#content-inputs__solar-day-desc {
  padding: $padding-input-desc;

  p {
    margin: 0;
    font-size: $font-size-standard;
  }
}
/* INVAlID SOLAR DAY INPUT */
#failureDiv {
  margin-top: 1rem;
  font-style: italic;
  text-align: center;
  font-size: $font-size-standard;
  color: white;
  border: 1px solid map-get($colors, light-red);
  background-color: #ec5656;
  border-radius: 10px;
  padding: 0.5rem 0.3rem;
}

.hide-err {
  display: none;
}

#content-inputs__cam-select__header {
  h3 {
    text-align: center;
    margin-bottom: 0;
    margin: 0;
  }

  p {
    margin: 0;
    font-size: $font-size-standard;
    font-style: italic;
    color: gray;
    text-align: center;
  }
}

#content-inputs__cam-select__input {
  width: 100%;
  font-family: inherit;
  padding: $padding-input-input;
}

/* IMAGE GALLERY */
#photo-gallery-section {
  margin: 2rem auto;
  padding: 0.3rem;
  max-width: 1024px;
}
#photo-gallery {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}
.photo-gallery__item {
  width: 100%;
  position: relative;

  &:hover {
    transform: translateY(-0.3rem) scale(1.02);
    transition: transform 300ms ease-out;
  }
}

.photo-gallery__item__anchor-tag img {
  width: 100%;
  border-radius: 8px;
}

.span__rover {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: $font-size-smaller;
}

.span__earth-date {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: $font-size-smaller;
}

.span__camera {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  font-size: $font-size-smaller;
}

.span__image-id {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: $font-size-smaller;
}

/* PAGINATION */
.pagination-container {
  display: flex;
  justify-content: center;
}

.pagination__items {
  background-color: map-get($colors, light-yellow);
  list-style: none;
  padding: 0;
  display: flex;
  border-radius: 5px;
}

.pagination__item {
  border: $border-default;
  padding: 0.3rem;
  cursor: pointer;

  &:hover {
    font-weight: bold;
  }

  &:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &:has(.current-page) {
    font-weight: bold;
    background-color: #f9d36b;
  }

  a {
    border: none;
    text-decoration: none;
    color: black;
  }
}

@media (min-width: 480px) {
  #content-inputs {
    grid-template-columns: 1.2fr 3fr;
  }
  #content-inputs__rover-info,
  #content-inputs__solar-day-input,
  #content-inputs__solar-day-desc,
  #content-inputs__cam-select__header,
  #content-inputs__cam-select__div,
  #failureDiv {
    grid-column: span 2;
  }

  #content-inputs__name__header,
  #content-inputs__solarday__header {
    text-align: left;
  }
  #content-inputs__solar-day-input {
    grid-template-columns: 1.2fr 3fr;
  }

  #photo-gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  #photo-gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  #photo-gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
