@import './partials/variables';
.credits-section-container {
  width: 95%;
  max-width: 550px;
  margin: 2rem auto;

  h3 {
    text-align: center;
    color: #642cdc;
  }
}
.credits-section-table {
  border-collapse: collapse;
  margin: 0 auto;
  thead {
    background-color: map-get($colors, light-yellow);
    th {
      padding: 0.5rem;
    }
  }
  tbody {
    tr {
      &:nth-child(even) {
        background-color: #e6e6e6;
      }
      &:hover {
        background-color: rgb(239, 224, 181, 0.5);
      }
      td {
        padding: 0.7rem;
        border-bottom: 1px solid #ccc;

        a {
          text-decoration: none;
          color: black;
          font-weight: bold;

          &:hover {
            font-size: 1.05rem;
          }
        }
      }
    }
  }
}
